<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>error page</title>
</head>
<body>
	<div style="margin-left: 180px;margin-top: 100px">
        <h2>很抱歉，您访问的资源出错啦！</h2>
        <p style="font-size: large">温馨提示：</p>
        <ul>
            <li>请检查您访问的网址是否正确</li>
            <li>如果您不能确认访问的网址，请浏览<a href="http://www.baidu.com">百度搜索</a>页面进行查询。</li>
            <li>返回之前浏览页面，请点击<a href="javascript:history.back()">返回</a></li>
            <li>如有任何意见或建议，请及时<a href="javascript:void(0)">反馈给我们</a>。</li>
        </ul>
    </div>
</body>
</html>